<div *ngIf="recipe" class="recipe-container">
  <h2>{{ recipe?.title }}</h2>
  <p>{{ recipe?.description }}</p>
  <ul>
    <li *ngFor="let instruction of recipe?.instructions">{{ instruction }}</li>
  </ul>
  <h3>Ingredients</h3>
  <ul>
    <li *ngFor="let ingredient of recipe?.ingredients">{{ ingredient.ingredient.name }}: {{ ingredient.quantity }}</li>
  </ul>
  <h3>Nutrition</h3>
  <p>Calories: {{ recipe?.nutrition?.calories }}</p>
  <p>Fat: {{ recipe?.nutrition?.fats }}</p>
  <p>Carbs: {{ recipe?.nutrition?.carbs }}</p>
  <p>Protein: {{ recipe?.nutrition?.proteins }}</p>
</div>
