<div class="container">
  <div class="wrapper">
      @if (!isLoggedIn) {
      <div class="title"><span>Login Form</span></div>
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="row">
          <i class="fa-solid fa-user"></i>
          <input
            type="text"
            placeholder="Username"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
          />
          @if (username.errors && f.submitted) {
          <div class="invalid-feedback">Username is required!</div>
          }
        </div>
        <div class="row">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
          />
          @if (password.errors && f.submitted) {
          <div class="invalid-feedback">
            @if (password.errors['required']) {
            <div>Password is required</div>
            }
            @if (password.errors['minlength']) {
            <div>Password must be at least 6 characters</div>
            }
          </div>
          }
        </div>
        <div class="row button">
          <input type="submit" value="Login">
        </div>
        <div class="form-group">
          @if (f.submitted && isLoginFailed) {
          <div class="alert alert-danger" role="alert">
            Login failed: {{ errorMessage }}
          </div>
          }
        </div>
      </form>
      } @else {
      <div class="alert alert-success">Logged in as {{ roles }}.</div>
      }
    </div>
  </div>