<div id="app">
  <div class="navbar">
    <a href="#" class="navbar-brand">Recipe-App</a>
    <ul class="nav-links" routerLinkActive="active">
      @if (showAdminBoard) {
        <li class="nav-item">
          <a href="/admin" class="upward" routerLink="admin">Admin</a>
        </li>
      }
      @if (isLoggedIn) {
        <li class="nav-item">
          <a href="/recipe" class="forward" routerLink="recipe">Recipes</a>
        </li>
      }
    </ul>

    @if (!isLoggedIn) {
      <div class="auth-buttons">
        <button class="login-btn"><a href="/login" routerLink="login">Login</a></button>
        <button class="signup-btn"><a href="/register" routerLink="register">Sign Up</a></button>
      </div>
    } @else {

      <div class="auth-buttons">
        <span class="profile-name"><a href="/profile"  routerLink="profile">{{ username }}</a></span>
        <button class="logout-btn"><a href (click)="logout()">LogOut</a></button>
      </div>
    }
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>