<div class="shopping-list-container">
  <h2>Shopping List</h2>
  @if(shoppingList.id){
  <div>
    <ul>
      @for(item of shoppingList.items; track item){
      <li>
        {{ item.ingredient }}: {{ item.quantity }}
        <button (click)="deleteItemFromShoppingList(item.ingredient)">Delete</button>
      </li>
    }
    </ul>
  </div>
  }
  <div>
    <input [(ngModel)]="newItem.ingredient" placeholder="Ingredient">
    <input [(ngModel)]="newItem.quantity" placeholder="Quantity">
    <button (click)="addItemToShoppingList()">Add Item</button>
  </div>

  @if(!shoppingList.id){
  <div>
    <button (click)="addShoppingList()">Create Shopping List</button>
  </div>
  }
</div>
