@if (currentUser) {
  <div class="profile-container">
    <header>
      <h3>
        <strong>{{ currentUser.username }}</strong> Profile
      </h3>
    </header>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <strong>Roles:</strong>
    <ul>
      @for (role of currentUser.roles; track role) {
      <li>{{ role }}</li>
      }
    </ul>
    <section>
      <app-shopping-list></app-shopping-list>
    </section>
  </div>
} @else {
  <p class="login-message">Please login.</p>
}
