<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Title</label>
    <input id="title" formControlName="title" />
  </div>

  <div>
    <label for="description">Description</label>
    <input id="description" formControlName="description" />
  </div>

  <div formArrayName="instructions">
    <label>Instructions</label>
    <div *ngFor="let instruction of instructions.controls; let i = index">
      <input [formControlName]="i" />
      <button type="button" (click)="removeInstruction(i)">Remove</button>
    </div>
    <button type="button" (click)="addInstruction()">Add Instruction</button>
  </div>

  <div formArrayName="ingredients">
    <label>Ingredients</label>
    <div *ngFor="let ingredientCtrl of ingredientsArray.controls; let i = index">
      <div [formGroupName]="i">
        <select formControlName="ingredient">
          <option *ngFor="let ingredient of ingredients" [ngValue]="ingredient.id" >{{ ingredient.name }}</option>
        </select>
        <input formControlName="quantity" placeholder="Quantity" />
        <button type="button" (click)="removeIngredient(i)">Remove</button>
      </div>
    </div>
    <button type="button" (click)="addIngredient()">Add Ingredient</button>
  </div>
  

  <div formGroupName="nutrition">
    <div>
      <label for="calories">Calories</label>
      <input id="calories" formControlName="calories" />
    </div>
    <div>
      <label for="carbs">Carbs</label>
      <input id="carbs" formControlName="carbs" />
    </div>
    <div>
      <label for="proteins">Proteins</label>
      <input id="proteins" formControlName="proteins" />
    </div>
    <div>
      <label for="fats">Fats</label>
      <input id="fats" formControlName="fats" />
    </div>
  </div>

  <button type="submit" [disabled]="!recipeForm.valid">Add Recipe</button>
</form>
