/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
}

:root {
    --primary-color: #29b73f;
    --secondary-color: #5bea71;
    --accent-color: #e7faea;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --background-color: hsl(0, 0%, 100%);
    --text-color: #333;
    --link-color: #007bff;
    --highlight-color: #ffdf00;
}


